
body {
	font-family: "Times New Roman", Times, serif;
}
h2 {
	font-size: 310%;
	text-align: center;
	color:#FFF;
}
strong {
	font-weight: bolder;
	font-size: 12px;
}
.receipt-label {
	font-size:15px;
	color: #036;
}
.receipt-detail{
	font-size:14px;
}
